/* ===========================
 table of contents
==============================
1. Header Design
2. Button & icon
3- Modal == pop up
4- Responsive Design (media query)*/

/* ========================
    1. Header Design
=========================== */
header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}

header.flex nav {
    background-color: var(--bgHeader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 40px rgba(20, 114, 221, 0.26);
}

header ul.flex{
    gap: 16px;
}

header ul.flex li a{
    color: var(--title);
    font-size: 0.88rem;
    opacity: 0.9;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

header ul.flex li a:hover{
    color: var(--blue);
}

header button {
    font-size: 1.2rem;
}

/* ========================
    2. Button & icon
=========================== */

header .menu {
    display: none;
}


header .icon-menu, header .mode {
    background-color: var(--bgHeader);
    height: 2.4rem;
    width: 2.4rem;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: var(--subTitle);
    border: 1px solid rgba(20, 114, 221, 0.26);
    transition: 0.3s ease-in-out;
}
header .icon-menu:hover, header .mode:hover {
    color: var(--title);
    box-shadow: 1px 1px 40px rgba(20, 114, 221, 0.747);
} 

header .icon-clear {
    font-size: 1.5rem;
    color: var(--subTitle);
    transition: 0.3s ease-in-out;
}
header .icon-clear:hover {
    color: var(--blue);
    box-shadow: 1px 1px 40px rgba(20, 114, 221, 0.747);
    border-radius: 50%;
    rotate: 180deg;
}


/* ========================
    3- Modal == pop up
=========================== */
header .fixed {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.822);
}


@keyframes mymove {
  0%   {scale: 0}
  60% {scale: 1.2}
  100% {scale:  1}
} 

header .fixed ul.model {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem ;
    background: var(--secondary);
    box-shadow: 1px 1px 40px rgba(20, 114, 221, 0.26);
    animation: mymove 0.6s;
}
header .fixed ul.model li  {
    border-bottom: 1px solid var(--border);
    padding: 0.66rem 0.77rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

header .fixed ul.model li:hover  {
    color: var(--blue);
}

header .fixed ul.model li:last-child {
    border-bottom: none;
}
header .fixed ul.model li:first-child {
    text-align: right;
    border: none;
    padding-bottom: 0;
    padding-top: 0.2rem;
}

/* =====================================
  4- Responsive Design (media query)
======================================== */

@media (max-width: 700px) {
    header.flex nav {
        display: none;
    }
    header .menu {
        display: block;
    }
}