@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200..1000&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244 244 245);
  --subTitle: rgb(161 161 170);
  --bgHeader: rgb(39 39 42);
  --blue: #0084ff;
  --shadowG: 1px 1px 40px rgba(20, 114, 221, 0.26);

  --containerpadding: 4.4rem;
}

.light {
  --primary: #fff;
  color: #000;
}

body {
  background-color: var(--primary);
  transition: background-color 0.3s ease;
  color: #fff;
}

.container {
  border: 2px solid var(--border);
  width: 80%;
  margin: auto;
  background-color: var(--secondary);
  padding: 0 var(--containerpadding);
}

.divider {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + var(--containerpadding) + var(--containerpadding));
  margin-left: calc(-1 * var(--containerpadding));
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.flex {
  display: flex;
  align-items: center;
}

button {
  all: unset;
  cursor: pointer;
}


@media (max-width: 1000px) {
  .container {
    width: 90%;
    padding: 0 1.2rem;
  }
  .divider {
  width: calc(100% + 1.2rem + 1.2rem);
  margin-left: -1.2rem;
}
}

@media (max-width: 600px) {
  .container {
    --containerpadding: 1.7rem;
    width: 98%;
    padding: 0 var(--containerpadding);
  }
    .divider {
  width: calc(100% + var(--containerpadding) + var(--containerpadding));
  margin-left: calc(-1 * var(--containerpadding));
}
}